body{
   padding: 0;
   margin: 0;
   color: black;
   font-family: 'Times New Roman', Times, serif;

}

*{
   box-sizing: border-box;
}

.container{
   height: 100vw;
   width: 100vw;
   background-image: url("/images/coffie.jpg");
   background-size: cover;
   padding: 0 50px;
  
}

.container .unit1{
 
   display: flex;
   height: 100%;
   width: 100%;
   background-image: linear-gradient(to bottom right, rgb(127, 236, 240), rgb(187, 35, 106));
   
   
}

.unit2 h1{
   text-align: center;
   margin: 0;
   font-family: sans-serif;
   font-style: italic;
   font-size: 30px;

}

.unit2{
   width: 50%;
}

p{
   
   font-weight: 200;
   line-height: 30px;
   margin: 0%;
}

.button{
   margin-top: 40px;
   margin-left: 300px;
}

.button a{
   border: 2px solid black;
   background-color: white;
   border-radius: 30px;
   box-shadow: 4px 6px 8px 5px grey;
   transition: .5s all;
}

.button a:hover{

    color: rgb(1, 1, 12);
    background-color: rgb(111, 247, 129);
   box-shadow: 4px 6px 8px 5px rgb(92, 206, 88);


}
